
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h2>What do you propose ?</h2>


@Html.ActionLink("New Proposal", "NewProposal", "", new { @class = "btn btn-primary btn-block btn-success" })
<br />
<br />
@Html.ActionLink("Available Venues", "ViewVenues", "", new { @class = "btn btn-primary btn-block btn-success" })
