@*@model  FoodOrders.Application.User.User*@
@{
    ViewBag.Title = "Home";
}


<div style="text-align: center; margin-bottom: 500px;left:0px; top:0px;">
    <img src="../../Images/logoforYouthHub.png">
</div>



