@*@model  FoodOrders.Application.User.User*@
@{
    ViewBag.Title = "Home";
}


<h3>Welcome to MPYouthHUB</h3>
<div style="text-align: center">
    <h3>Welcome to MPYouthHUB</h3>
</div>




<div style="text-align: center; margin-bottom: 500px;left:0px; top:0px;">
    <img src="../../Images/logoforYouthHub.png" />
</div>



