@model IEnumerable<MPYouthHubMVP.Models.Clinic>
@{
    ViewBag.Title = "MedicineDeliveryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medicine Delivery</h2>

<h2><span style="color: green">“Everybody can be great. Because anybody can serve. You don’t have to have a college degree to serve."</span> </h2>
<h3> List of Clinics in Your Area</h3>
<br/>
<table id="clinicTable" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Operating Times</th>
            <th>Contact Details</th>
            <th>Number of Packages</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>

@section scripts
{
    <script>
        var clinicData = [
            {
                "name": "Embalenhle Clinic",
                "contactDetails" : "017 685 4089",
                "address" : " 2285 Extension Four Dr, Embalenhle, 0700",
                "numberOfPackages" : 50,
                'operatingTimes' : "8am–8pm"
            },
            {
                "name": "Embalenhle Clinic",
                "contactDetails" : "017 685 4089",
                "address" : " 2285 Extension Four Dr, Embalenhle, 0700",
                "numberOfPackages" : 50,
                "operatingTimes" : "8am–8pm"
            },
            {
                "name": "Embalenhle Clinic",
                "contactDetails": "017 685 4089",
                "address": " 2285 Extension Four Dr, Embalenhle, 0700",
                "numberOfPackages": 50,
                "operatingTimes": "8am–8pm"
            },
            {
                "name": "Embalenhle Clinic",
                "contactDetails": "017 685 4089",
                "address": " 2285 Extension Four Dr, Embalenhle, 0700",
                "numberOfPackages": 50,
                "operatingTimes": "8am–8pm"
            }
        ];

        $(document).ready(function () {
            var table = $("#clinicTable").DataTable({
                data: clinicData,
                            columns: [
                                {
                                    data: "name",
                                    render: function (data) {
                                        return "<a href='/Volunteer/GoToPatients'>" + data + "</a>";
                                    }
                                }, {
                                    data: "address"
                                }, {
                                    data: "operatingTimes",
                                    //render: function (data) {
                                    //    return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                                    //}
                                }, {
                                    data: "contactDetails",
                                    //render: function (data) {
                                    //    return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                                    //}
                                }, {
                                    data: "numberOfPackages",
                                    //render: function (data) {
                                    //    return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                                    //}
                                }
                            ]
                    });
        });
    </script>
}

