
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h2><span style="color: green">""Stay afraid, but do it anyway. ..."</span> </h2>
<h3> List of Skills Development opportunities</h3>
<br />
<table id="clinicTable" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>
<br />
<br />
<button class="btn-block btn justify-content-center btn-success">Add Link to Skill Development</button>


@section scripts
{
    <script>
        var clinicData = [
            {
                "name": "Mpumalanga | ETDP SETA",

                "link": "https://www.etdpseta.org.za/education/search/node?keys=skills+development"

            },
            {
                "name": "Mpumalanga Regional Training Trust (MRTT)",
                "link": "https://www.rttrust.co.za"

            },
            {
                "name": "Mpumalanga | ETDP SETA",

                "link": "https://www.etdpseta.org.za/education/search/node?keys=skills+development"

            },
            {
                "name": "Mpumalanga | ETDP SETA",

                "link": "https://www.etdpseta.org.za/education/search/node?keys=skills+development"

            }
        ];

        $(document).ready(function () {
            var table = $("#clinicTable").DataTable({
                data: clinicData,
                columns: [
                    {
                        data: "name"

                    }, {
                        data: "link",
                        render: function (data) {
                            return "<a href=" + data + " target='_blank'> " + data + "</a>";
                        }
                    }
                ]
            });
        });
    </script>
}

